*{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
body{
    background-color: black;
    color: aqua;
    flex-wrap: wrap;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    display: inline-flex;
    gap: 10px;
    list-style: none;

}
#container {
    width: 100vw;
    height:5vw;
    background-color: indianred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    top: 0;

}
.firstbox{
    margin-top: 5px;

}
h3{
    color: wheat;
    font-style: italic;
} 
p{
font-family: Arial, Helvetica, sans-serif;
color: beige;
}
main>div{
    margin: 5px;
    padding-left: 20px;
}
footer{
    display: flex;
    font-size: 14px;
   display: flex;
   justify-content: space-between;
   
  
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 3vw;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
footer>div{
    color: rgb(1, 1, 1);
    width: 100vw;
    height: 1vw;
    display:flex;
    justify-content: space-between;
    align-items: self-end;
    color: tomato;
}
