body{
    background-color: black;
    color: aqua;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    display: inline-flex;
    gap: 10px;
    list-style: none;

}
#container {
    width: 100vw;
    height:5vw;
    background-color: indianred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    top: 0;

}
.firstbox{
    margin-top: 5px;

}
h3{
    color: wheat;
    font-style: italic;
} 
p{
font-family: Arial, Helvetica, sans-serif;
color: beige;
}
main>div{
    margin: 5px;
    padding-left: 20px;
}
footer{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(23, 16, 16);
    width: 100vw;
    height: 3vw;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
